* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.justify {
    text-align: justify;
}

.nav {
    flex-wrap: nowrap !important;
}

.john {
    height: 15vh;
    object-fit: cover;
}

.johny {
    height: 28vh;
}

.pic-2 {
    top: 30%;
    height: 35vh;
}

.fmt {
    margin-top: 14%;
}

.btn-outline-dark:hover {
    background: white !important;
    color: black !important;
}

@media (max-width: 769px) {
    .fmt {
        margin-top: 20%;
    }
}

@media (max-width: 426px) {
    .resize {
        width: 100% !important;
    }

    .fr-dir {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .fr-sm {
        justify-content: center !important;
    }

    .mr {
        margin-right: 0 !important;
    }

    .ml {
        margin-left: 0 !important;
    }

    .fmt {
        margin-top: 35%;
    }

    .review img {
        margin-bottom: 5px;
    }
}

@media (max-width: 321px) {
    .for-social img {
        padding-right: 2px !important;
    }

    .fmt {
        margin-top: 40%;
    }
}